<mat-toolbar color="primary" class="navBar">
  Interactive Shopping List
  <div>
    <span>Home</span>
    <span class="spacer"></span>
    <span>About</span>
    <span class="spacer"></span>
    <span>Log out</span>
  </div>
</mat-toolbar>
<!--<mat-selection-list >-->
<!--<mat-list-option matBadge="3" >Bananas</mat-list-option>-->
<!--<mat-list-option matBadge="12">Milk</mat-list-option>-->
<!--<mat-list-option matBadge="9">Bread</mat-list-option>-->
<!--<button  mat-fab color="primary" style="float:left">-->
<!--<mat-icon>add</mat-icon>-->
<!--</button>-->
<!--<button mat-fab color="primary" style="float:right">-->
<!--<mat-icon>check</mat-icon>-->
<!--</button>-->
<!--</mat-selection-list>-->
<mat-card class="todoapp">
  <mat-card-content>
    <mat-selection-list>
      <mat-list-item *ngFor="let todo of todoList; let index=index" >
        <mat-checkbox color="primary" [name]="'item'+index"
                      [(ngModel)]="todo.completed">
          <span [class.completed]="todo.completed">{{todo.title}}</span>
        </mat-checkbox>

        <button mat-icon-button (click)="remove(index)" color="primary">
          <mat-icon>delete</mat-icon>
        </button>

        <button mat-icon-button (click)="todoDialog(todo)" color="primary">
          <mat-icon>edit</mat-icon>
        </button>

        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-selection-list>
  </mat-card-content>
</mat-card>
<button mat-fab color="primary" (click)="todoDialog()">
  <mat-icon>add</mat-icon>
</button>

<app-dialog-window [title]="'New shopping list'"
                   [template]="'Some sort of description (optional):'"
                   [placeholder]="'What do you want to buy?'"
                   [okText]="okButtonText"
                   [value]="fieldValue"
                   (valueEmitted)="updateTodo($event)"
                   [showPrompt]="showDialog">
</app-dialog-window>

