*:focus {
  outline: none !important;
  border: 0 !important;
}

.list-item:hover button {
  display: block;
}

.list-item button {
  display: none;
  width: 30px;
  height: 30px;
}

.completed {
  color: #9d9d9d;
  text-decoration: line-through;
}
